/** font **/
@font-face {
  font-family: "Kievit";
  src: url("../font/copyfonts.com_kievitot-regular-opentype.otf"); }

/*colors*/
/*font family*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #191E2C;
  font-weight: 300; }

.btnRed {
  background-color: rgba(255, 255, 255, 0);
  color: #EA0D2B;
  cursor: pointer;
  border: 1px solid #EA0D2B;
  width: 150px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: color 0.45s linear;
  -o-transition: color 0.45s linear;
  transition: color 0.45s linear; }
  .btnRed::before {
    -webkit-transition: right 0.45s linear;
    -o-transition: right 0.45s linear;
    transition: right 0.45s linear;
    content: '';
    width: 200px;
    height: 100%;
    background-color: #EA0D2B;
    display: block;
    position: absolute;
    top: 0;
    right: 200%;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg); }
  .btnRed:hover {
    color: #ffffff;
    -webkit-transition: color 0.45s linear;
    -o-transition: color 0.45s linear;
    transition: color 0.45s linear; }
    .btnRed:hover::before {
      -webkit-transition: right 0.45s linear;
      -o-transition: right 0.45s linear;
      transition: right 0.45s linear;
      right: -12px; }

@media all and (min-width: 768px) {
  .btnRed {
    font-size: 16px; } }

.cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100000;
  background-color: white;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  opacity: 0.9; }
  .cookie button {
    margin: 15px 0px;
    margin-top: 0;
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #EA0D2B;
    background: white;
    color: #EA0D2B;
    float: right; }
  .cookie a {
    text-decoration: none;
    color: #EA0D2B; }

/*# sourceMappingURL=_bases.css.map */