/** font **/
@font-face {
  font-family: "Kievit";
  src: url("../font/copyfonts.com_kievitot-regular-opentype.otf"); }

/*colors*/
/*font family*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #191E2C;
  font-weight: 300; }

.btnRed {
  background-color: rgba(255, 255, 255, 0);
  color: #EA0D2B;
  cursor: pointer;
  border: 1px solid #EA0D2B;
  width: 150px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: color 0.45s linear;
  -o-transition: color 0.45s linear;
  transition: color 0.45s linear; }
  .btnRed::before {
    -webkit-transition: right 0.45s linear;
    -o-transition: right 0.45s linear;
    transition: right 0.45s linear;
    content: '';
    width: 200px;
    height: 100%;
    background-color: #EA0D2B;
    display: block;
    position: absolute;
    top: 0;
    right: 200%;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg); }
  .btnRed:hover {
    color: #ffffff;
    -webkit-transition: color 0.45s linear;
    -o-transition: color 0.45s linear;
    transition: color 0.45s linear; }
    .btnRed:hover::before {
      -webkit-transition: right 0.45s linear;
      -o-transition: right 0.45s linear;
      transition: right 0.45s linear;
      right: -12px; }

@media all and (min-width: 768px) {
  .btnRed {
    font-size: 16px; } }

.popContact2 {
  background-color: rgba(76, 80, 91, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .popContact2.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.popContact {
  background-color: rgba(76, 80, 91, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .popContact.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .popContact .containerModal {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 20px 5px rgba(25, 30, 44, 0.5);
    box-shadow: 1px 1px 20px 5px rgba(25, 30, 44, 0.5);
    padding: 40px; }
    .popContact .containerModal p {
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 16px; }
      .popContact .containerModal p strong {
        font-weight: 700;
        color: #EA0D2B; }
    .popContact .containerModal a {
      text-decoration: none; }
    .popContact .containerModal .contentContact {
      margin: 10px 0; }
      .popContact .containerModal .contentContact > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 5px 0; }
        .popContact .containerModal .contentContact > div p {
          margin: 0 10px;
          color: #EA0D2B; }
        .popContact .containerModal .contentContact > div a {
          text-decoration: none;
          color: inherit;
          font-weight: 400; }

main {
  /** vertical slide dot**/ }
  main header {
    width: 100%; }
    main header .headerTop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto; }
    main header img {
      width: 100%;
      max-width: 100px; }
  main .refSlider {
    height: 350px;
    width: 100%; }
    main .refSlider .slider {
      height: 100%; }
      main .refSlider .slider .slick-list, main .refSlider .slider .slick-track {
        height: 100%; }
      main .refSlider .slider .slide {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        main .refSlider .slider .slide h2 {
          padding: 10px;
          background: rgba(25, 30, 44, 0.5);
          text-transform: uppercase;
          color: #ffffff;
          font-size: 20px;
          font-weight: 100;
          font-family: "Oswald", sans-serif; }
        main .refSlider .slider .slide.slide1 {
          background: transparent url("../img/ref_blanc-mesnil.jpg") no-repeat center/cover; }
        main .refSlider .slider .slide.slide2 {
          background: transparent url("../img/ref_chelles.jpg") no-repeat center/cover; }
        main .refSlider .slider .slide.slide3 {
          background: transparent url("../img/ref_la-garenne.jpg") no-repeat center/cover; }
        main .refSlider .slider .slide.slide4 {
          background: transparent url("../img/ref_lognes.jpg") no-repeat center/cover; }
      main .refSlider .slider .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff; }
      main .refSlider .slider .slick-dots {
        bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        main .refSlider .slider .slick-dots li {
          margin: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          main .refSlider .slider .slick-dots li.slick-active .dot {
            background-color: #EA0D2B; }
  main .contentSubscribes {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .contentSubscribes article {
      margin: 20px;
      padding: 20px 0;
      text-align: center; }
      main .contentSubscribes article + article {
        border-top: 1px solid rgba(76, 80, 91, 0.5); }
      main .contentSubscribes article h2 {
        padding: 10px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        font-family: "Oswald", sans-serif; }
      main .contentSubscribes article p {
        margin: 20px 0; }
  main .resume {
    background-color: #e6e6e6;
    width: 100%;
    padding: 20px 0; }
    main .resume .containerResume {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-family: "Kievit", sans-serif; }
      main .resume .containerResume > div:nth-of-type(2) {
        padding: 20px; }
        main .resume .containerResume > div:nth-of-type(2) h2 {
          padding: 10px 0;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 300;
          font-family: "Oswald", sans-serif; }
        main .resume .containerResume > div:nth-of-type(2) p {
          margin: 20px 0; }
        main .resume .containerResume > div:nth-of-type(2) ul li {
          list-style: none; }
          main .resume .containerResume > div:nth-of-type(2) ul li span {
            color: #EA0D2B;
            font-size: 15px; }
      main .resume .containerResume img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px; }
        main .resume .containerResume img.visibleMd {
          display: none; }
  main .gras {
    font-weight: 600; }
  main .vertical_slide .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff; }
  main .vertical_slide .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .vertical_slide .slick-dots li {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .vertical_slide .slick-dots li.slick-active .dot {
        background-color: #EA0D2B; }
  main .motions {
    width: 100%;
    max-width: 1100px;
    margin: 30px auto; }
    main .motions h2 {
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
      font-family: "Oswald", sans-serif; }
    main .motions p {
      margin: 20px 0; }

footer {
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer a {
    color: inherit;
    text-decoration: none;
    font-size: 13px; }
    footer a:nth-of-type(2) {
      font-family: "Oswald", sans-serif;
      color: #EA0D2B;
      font-weight: 500; }

/** inscription **/
.containerForm {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px; }
  .containerForm ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    list-style: none;
    margin-top: 30px; }
    .containerForm ul li {
      margin-left: 15px;
      color: #DDD;
      cursor: pointer; }
      .containerForm ul li h3 {
        font-size: 23px; }
      .containerForm ul li p {
        font-size: 14px; }
  .containerForm .etape {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .containerForm .etape legend {
      font-family: "Kievit", sans-serif;
      color: #4080bf;
      font-weight: bold;
      font-size: 16px;
      padding: 0 2px 3px 2px; }
    .containerForm .etape h2 {
      color: #AAAAAA;
      font-size: 23px;
      margin-top: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0px 10px 0px 10px; }
    .containerForm .etape h3 {
      color: #EA0D2B;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 600;
      padding: 15px;
      margin-top: 20px; }
    .containerForm .etape .btnRed {
      margin-bottom: 25px !important; }
    .containerForm .etape div {
      width: 100%;
      margin: 0 auto;
      max-width: 90%;
      border-radius: 15px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6); }
      .containerForm .etape div.etape1 {
        background: #DEDEDE;
        color: #666666; }
        .containerForm .etape div.etape1 h4 {
          font-size: 17px;
          padding-top: 20px;
          text-transform: uppercase; }
        .containerForm .etape div.etape1 p {
          padding-bottom: 20px;
          font-size: 13px; }
      .containerForm .etape div.etape2 {
        background: #a6a5a5;
        color: #333;
        margin-bottom: 50px; }
        .containerForm .etape div.etape2 h4 {
          font-size: 17px;
          padding-top: 20px;
          text-transform: uppercase; }
        .containerForm .etape div.etape2 p {
          padding-bottom: 20px;
          font-size: 13px; }
  .containerForm .step1, .containerForm .step2 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 26px;
    margin-top: 25px; }
    .containerForm .step1 legend, .containerForm .step2 legend {
      font-family: "Kievit", sans-serif;
      color: #4080bf;
      font-weight: bold;
      font-size: 16px;
      padding: 0 2px 3px 2px; }
    .containerForm .step1 .blocForm, .containerForm .step2 .blocForm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px; }
      .containerForm .step1 .blocForm .divLabel, .containerForm .step1 .blocForm .divInput, .containerForm .step2 .blocForm .divLabel, .containerForm .step2 .blocForm .divInput {
        width: 100%; }
        .containerForm .step1 .blocForm .divLabel label, .containerForm .step1 .blocForm .divInput label, .containerForm .step2 .blocForm .divLabel label, .containerForm .step2 .blocForm .divInput label {
          font-family: "Kievit", sans-serif;
          margin-bottom: 10px; }
        .containerForm .step1 .blocForm .divLabel input, .containerForm .step1 .blocForm .divInput input, .containerForm .step2 .blocForm .divLabel input, .containerForm .step2 .blocForm .divInput input {
          border-radius: 10px;
          padding: 7px 50px;
          margin-top: 10px; }
        .containerForm .step1 .blocForm .divLabel select, .containerForm .step1 .blocForm .divInput select, .containerForm .step2 .blocForm .divLabel select, .containerForm .step2 .blocForm .divInput select {
          border-radius: 10px;
          padding: 7px 88px;
          margin-top: 10px; }
        .containerForm .step1 .blocForm .divLabel .error, .containerForm .step1 .blocForm .divInput .error, .containerForm .step2 .blocForm .divLabel .error, .containerForm .step2 .blocForm .divInput .error {
          border: 1px solid red; }
    .containerForm .step1 .prevNext, .containerForm .step2 .prevNext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 15px; }
      .containerForm .step1 .prevNext .prev, .containerForm .step2 .prevNext .prev {
        margin-bottom: 20px; }

/*type=number*/
input[type=number] {
  -moz-appearance: textfield; }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input::-webkit-input-placeholder {
  font-style: italic; }

input:-ms-input-placeholder {
  font-style: italic; }

input::-ms-input-placeholder {
  font-style: italic; }

input::placeholder {
  font-style: italic; }

#errorln, #errornu {
  color: #EA0D2B;
  font-family: "Oswald", sans-serif; }

#rcserrormsg {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  color: #EA0D2B;
  text-align: center;
  font-weight: bold; }

strong {
  font-weight: 700;
  color: #EA0D2B;
  -webkit-text-decoration: underline white;
  text-decoration: underline white; }

@media all and (min-width: 769px) {
  .popContact .containerModal p {
    font-size: 24px; }
  .popContact .containerModal .contentContact > div {
    font-size: 18px; }
  main header img {
    max-width: 150px; }
  main .refSlider {
    height: 500px; }
    main .refSlider .slider .slide h2 {
      padding: 10px 30px;
      font-size: 28px; }
    main .refSlider .slider .slide.slide1 {
      background: transparent url("../img/ref_blanc-mesnil.jpg") no-repeat center/cover; }
    main .refSlider .slider .slide.slide2 {
      background: transparent url("../img/ref_chelles.jpg") no-repeat center/cover; }
    main .refSlider .slider .slide.slide3 {
      background: transparent url("../img/ref_la-garenne.jpg") no-repeat center/cover; }
    main .refSlider .slider .slide.slide4 {
      background: transparent url("../img/ref_lognes.jpg") no-repeat center/cover; }
  main .contentSubscribes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    main .contentSubscribes article {
      margin: 40px 10px;
      padding: 0 20px 20px; }
      main .contentSubscribes article + article {
        border-top: none;
        border-left: 1px solid rgba(76, 80, 91, 0.5);
        padding-left: 40px; }
      main .contentSubscribes article h2 {
        font-size: 28px; }
      main .contentSubscribes article p {
        font-size: 16px; }
  main .motions h2 {
    font-size: 28px; }
  main .motions p {
    font-size: 16px; }
  .containerForm .etape h2 {
    font-size: 25px; }
  .containerForm .etape h3 {
    font-size: 25px; }
  .containerForm .etape div {
    max-width: 60%; }
    .containerForm .etape div.etape1 h4 {
      font-size: 23px; }
    .containerForm .etape div.etape2 h4 {
      font-size: 23px; }
  .containerForm .step1 .blocForm, .containerForm .step2 .blocForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-left: 15px;
    text-align: left;
    width: 85%; }
    .containerForm .step1 .blocForm .divLabel, .containerForm .step1 .blocForm .divInput, .containerForm .step2 .blocForm .divLabel, .containerForm .step2 .blocForm .divInput {
      font-size: 16px; }
      .containerForm .step1 .blocForm .divLabel label, .containerForm .step1 .blocForm .divInput label, .containerForm .step2 .blocForm .divLabel label, .containerForm .step2 .blocForm .divInput label {
        margin-right: 30px;
        text-align: left; }
  .containerForm .step1 .prevNext, .containerForm .step2 .prevNext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px; }
    .containerForm .step1 .prevNext .next, .containerForm .step2 .prevNext .next {
      margin-left: 550px; }
    .containerForm .step1 .prevNext .prev, .containerForm .step2 .prevNext .prev {
      margin-bottom: 0; } }

@media all and (min-width: 1024px) {
  main .resume {
    font-size: 16px; }
    main .resume .containerResume {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      main .resume .containerResume > div {
        width: 30%;
        padding: 20px; }
        main .resume .containerResume > div:nth-of-type(2) {
          width: 70%;
          padding: 20px 30px; }
          main .resume .containerResume > div:nth-of-type(2) h2 {
            font-size: 28px; }
      main .resume .containerResume img.visibleXs {
        display: none; }
      main .resume .containerResume img.visibleMd {
        display: block; } }

@media all and (min-width: 1360px) {
  main .refSlider {
    height: 550px; } }

.btnRed {
  width: 250px !important;
  padding: 20px !important;
  font-size: 20px !important; }

.cookie{
position: fixed; 
bottom: 0;
width: 100%;
z-index: 100000;
background-color: white;
padding: 5px;
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
opacity: 0.9;
}

.cookie button{
margin: 15px 0px;
margin-top: 0;
width: 200px;
padding: 10px 20px;
border: 1px solid #EA0D2B;
background: white;
color: #EA0D2B;
float: right;
}
.cookie a{
text-decoration: none;
color: #EA0D2B;
}

.cookie p{
display: inline-block;
margin-bottom: 10px;

}

@media all and (min-width: 768px) {
  .cookie{
position: fixed; 
bottom: 0;
width: 100%;
z-index: 100000;
background-color: white;
padding: 15px;
padding-left: 100px;
padding-right: 100px;
opacity: 0.9;
}
.cookie p{
display: inline-block;
width: 80%;

}
}