/** font **/
@font-face {
 font-family: "Kievit";
 src: url('../font/copyfonts.com_kievitot-regular-opentype.otf');
}


/*colors*/
$red:#EA0D2B;
$greyDark:#4C505B;
$blueDark:#191E2C;
$blueClaire:#4080bf;

/*font family*/

$ffTitre:'Oswald', sans-serif;
$ffTexte:'Roboto', sans-serif;
$kievit: 'Kievit', sans-serif;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: $ffTexte;
  color: $blueDark;
  font-weight: 300;
}

.btnRed {
  background-color: rgba(255,255,255,0);
  color: $red;
  cursor: pointer;
  border: 1px solid $red;
  width: 150px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: $ffTitre;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  overflow: hidden;
  transition: color 0.45s linear;
  &::before {
    transition: right 0.45s linear;
    content: '';
    width: 200px;
    height: 100%;
    background-color: $red;
    display: block;
    position: absolute;
    top: 0;
    right: 200%;
    z-index: -1;
    transform: skewX(-20deg);
  }

  &:hover{
    color: #ffffff;
    transition: color 0.45s linear;
    &::before {
      transition: right 0.45s linear;
      right: -12px;
    }
  }
}

@media all and (min-width: 768px){
  .btnRed {
    font-size: 16px;
  }
}

 .cookie{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background-color: white;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    opacity: 0.9;

      p{

      }
       button{
        margin: 15px 0px;
        margin-top: 0;
        width: 200px;
        padding: 10px 20px;
        border: 1px solid #EA0D2B;
        background: white;
        color: #EA0D2B;
        float: right;
      }
     a{
          text-decoration: none;
              color: #EA0D2B;
      }
  }
