@media all and (min-width: 769px) {
  .popContact {
    .containerModal {
      p {
        font-size: 24px;
      }
      .contentContact {
        & > div {
          font-size: 18px;
        }
      }
    }

  }
  main {
    header {
      img {
        max-width: 150px;
      }
    }
    .refSlider {
      height: 500px;
      .slider {
        .slide {
          h2 {
            padding: 10px 30px;
            font-size: 28px;
          }
          &.slide1 {
            background: transparent url("../img/ref_blanc-mesnil.jpg") no-repeat center / cover;
          }
          &.slide2 {
            background: transparent url("../img/ref_chelles.jpg") no-repeat center / cover;
          }
          &.slide3 {
            background: transparent url("../img/ref_la-garenne.jpg") no-repeat center / cover;
          }
          &.slide4 {
            background: transparent url("../img/ref_lognes.jpg") no-repeat center / cover;
          }
        }
      }
    }
    .contentSubscribes {
      flex-flow: row nowrap;
      align-items: flex-start;
      article {
        margin: 40px 10px;
        padding: 0 20px 20px;
        & + article {
          border-top: none;
          border-left: 1px solid rgba($greyDark,0.5);
          padding-left: 40px;
        }
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .motions {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .containerForm{
    .etape{
      h2{
        font-size: 25px;
      }
      h3{
        font-size: 25px;
      }
      div{
        max-width: 60%;
        &.etape1{
          h4{
            font-size: 23px;
          }
        }
        &.etape2{
          h4{
            font-size: 23px;
          }
        }
      }
    }

    .step1, .step2{
      .blocForm{
        flex-flow: row nowrap;
        margin-left: 15px;
        text-align: left;
        width: 85%;

        .divLabel, .divInput{
          font-size: 16px;
          label{
            margin-right: 30px;
            text-align: left;
          }
          input{

          }
          select{

          }
        }
      }
      .prevNext{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
          .next{
            margin-left: 550px;
          }
          .prev{
            margin-bottom: 0;
          }
      }
    }

  }


}

@media all and (min-width: 1024px) {
  main {
    .resume {
      font-size: 16px;
      .containerResume {
        flex-flow: row nowrap;
        & > div {
          width: 30%;
          padding: 20px;
          &:nth-of-type(2){
            width: 70%;
            padding: 20px 30px;
            h2 {
              font-size: 28px;
            }
            p {
            }
          }
        }
        img {
          &.visibleXs {
            display: none;
          }
          &.visibleMd {
            display: block;
          }
        }
      }

    }
  }
}
@media all and (min-width: 1360px) {
  main {
    .refSlider {
      height: 550px;
    }
  }
}
