/** font **/
@font-face {
 font-family: "Kievit";
 src: url('../font/copyfonts.com_kievitot-regular-opentype.otf');
}


/*colors*/
$red:#EA0D2B;
$greyDark:#4C505B;
$blueDark:#191E2C;
$blueClaire:#4080bf;

/*font family*/

$ffTitre:'Oswald', sans-serif;
$ffTexte:'Roboto', sans-serif;
$kievit: 'Kievit', sans-serif;
